nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    font-weight: bold;
    background: rgb(255, 246, 246);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid $text-color;
    color: $text-color;
    padding: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 1px 2px 12px 0 rgb(255, 185, 185);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    button {
      z-index: 10;
    }
  }
}