$primary-color: rgb(255, 230, 230);
$text-color: rgb(90, 90, 90);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, $primary-color);
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  color: rgb(100, 100, 100);
}

.App {
  min-height: 100vh;
}

.library-active {
  margin-left: 20%;
}

@import './nav';
@import './song';
@import './player';
@import './library';
