* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  color: rgb(100, 100, 100);
}

.library-active {
  margin-left: 30%;
}

@import './nav';
@import './song';
@import './player';
@import './library';
